<div class="confirm-box text-center">
  <mat-icon class="infoIcon orangeicon-dialog">error_outline</mat-icon>
  <h1 mat-dialog-title class="mat-title" *ngIf="data.title">{{ data.title }}</h1>
  <div mat-dialog-content class="mat-body-1 primary-text" [innerHtml]="data.body">
  </div>
  <!-- <mat-divider class="margin-top-m margin-bottom-s"></mat-divider> -->
  <div mat-dialog-actions class="confirm-actions flex items-center justify-center margin-top-s"
    *ngIf="data?.componentType && data?.componentType === 'manageCommunity'">
    <button type="button" *ngIf="data?.cancel !== 'hide'" mat-button [mat-dialog-close] class="secondary-button">
      {{data?.cancel}}</button>
    <button type="button" *ngIf=" data?.ok !=='hide'" mat-flat-button class="primary-button"
      cdkFocusInitial [color]="(data.ok === 'delete' || data.ok === 'Delete'  ) ? 'warn': 'blue'" (click)="confirmed()">
      {{data.ok}}
    </button>
  </div>
  <div mat-dialog-actions class="confirm-actions flex items-center justify-center margin-top-s" *ngIf="!data?.componentType">
    <button type="button" *ngIf="data?.cancel !== 'hide'" mat-button [mat-dialog-close] class="secondary-button"> {{data?.cancel}}</button>
    <button type="button" *ngIf="data?.ok !== 'hide'" mat-flat-button class="primary-button" cdkFocusInitial [color]="(data.ok === 'delete' || data.ok === 'Delete'  ) ? 'warn': 'blue'"
      (click)="confirmed()"> {{data?.ok}}
    </button>
  </div>
</div>
